body {
    margin: 0;
    padding: 0;
    font-family: ;
}


nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;

}

#main-section {
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    padding: 100px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#main-section p{
    font-size: 36;
    margin-bottom: 30px;

}
#main-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color:red;
    color:#fff;
    border:none;
    cursor: pointer;
}

#section-what-we-do {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#ection-what-we-do h1 {
    color: black;
}

#ection-what-we-do p {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    align-items:;
    margin-top:20px;
}

.box {
    width: 45%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}

.box img {
    width: 100%;
    max-width: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 480px){
    .box{
        width: 100%;
        margin: 10px 0;
    }
    .box::before{
        border-width: 0 25px 43.3px;
    }
}

a:hover,
a:active {
    color: #fff;
}

button:hover,
button:active {
    opacity: 0.9;
}

body {
    max-width: 100px;
    margin: 0 auto;
}
   